<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Complete responsive</title>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
         <link rel="stylesheet" href="course.component.css">

    </head>
    <body>

    <header>

    <a href="#" class="logo"><i class="fas fa-graduation-cap"></i>logo</a>
    <nav class="navbar">
        <ul>
            <li><a href="#home" class="active">home</a></li>
            <li><a href="#about">about</a></li>
            <li><a href="#courses">courses</a></li>
            <li><a href="#contactus">contact</a></li>
            <li><a href="#" onclick="window.open('login','myWindow');">login</a></li>
        </ul>
    </nav>

    <div class="fas fa-bars "></div>

</header>



<section class="course" id="course">
    <h1 class="heading">popular courses</h1>
    <h3 class="title">upgrade your skills with newest courses</h3>

    <div class="box-container">
        <div class="box">
            <i class="fab fa-html5"></i>
            <h3><a href="#" onclick="window.open('onecourse','myWindow');">neet</a></h3>
            <p>Enroll now and secure your future with our NEET program</p> 
            
            
        </div>
        <div class="box">
            <i class="fab fa-css3-alt"></i>
            <h3><a href="#" onclick="window.open('onecoursecat','myWindow');">CAT</a></h3>
            <p>Enroll now and take the first step towards CAT exam success</p>  
        </div>
        <div class="box">
            <i class="fab fa-js-square"></i>
            <h3><a href="#" onclick="window.open('onecoursejee','myWindow');">jee</a></h3>
            <p>your path to JEE success starts here-enroll now</p>  
        </div>
        <div class="box">
            <i class="fab fa-js-square"></i>
            <h3><a href="#" onclick="window.open('onecoursebank','myWindow');">Bank</a></h3>
            <p>Enroll now and experience the difference in your bank exam preparation</p>  
        </div>
        <div class="box">
            <i class="fab fa-js-square"></i>
            <h3><a href="#" onclick="window.open('onecourseupsc','myWindow');">UPSC</a></h3>
            <p>Ace the UPSC exam with our comprehensive course</p>  
        </div>
        <div class="box">
            <i class="fab fa-js-square"></i>
            <h3><a href="#" onclick="window.open('onecourserail','myWindow');">railway</a></h3>
            <p>Ace your railway exams with our tailored study materials and mock tests</p>  
        </div>
        <div class="box">
            <i class="fab fa-js-square"></i>
            <h3><a href="#" onclick="window.open('onecoursenavy','myWindow');">Navy</a></h3>
            <p>Set sail towards a bright future with our Indian Navy exam course</p>
            
        </div>
        <div class="box">
            <i class="fab fa-js-square"></i>
            <h3><a href="#" onclick="window.open('onecoursegate','myWindow');">gate</a></h3>
            <p>Get ahead with our expert-guided GATE course</p>  
        </div>
        <div class="box">
            <i class="fab fa-js-square"></i>
            <h3><a href="#" onclick="window.open('onecoursedefence','myWindow');">defence</a></h3>
            <p>Ace Your Defense Exam with Our Comprehensive Course!</p>  
        </div>


    </div>


</section>
</body>
</html>
