<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Complete responsive</title>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
         <link rel="stylesheet" href="home.component.css">

    </head>
    <body>

        <header>

            <a href="#" class="Eduspark"><i class="fas fa-graduation-cap"></i>logo</a>
            <nav class="navbar">
                <ul>
                    <li><a href="#home" class="active">home</a></li>
                    <li><a href="#about">about</a></li>
                    <li><a href="#" onclick="window.open('course','myWindow');">courses</a></li>
                    <li><a href="#contactus">contact</a></li>
                    <li><a href="#" onclick="window.open('login','myWindow');">login</a></li>
                </ul>
            </nav>

            <div class="fas fa-bars "></div>
 
        </header>
        <section class="home" id="home">
            <div class="content">
                <h1><i class="fa-solid fa-star">learn online from home</i></h1>
                <p>Let's learn beyond the limits!!</p>
                <a href="#course"><button>discover more</button></a>
            </div>

            <div class="box-container">
                <div class="box">
                    <i class="fas fa-graduation-cap"></i>
                    <h3><a href="#course">Trending courses</a></h3>
                    <p>Unleash Your Potential;Trending Courses Now Available</p>
                </div>
                <div class="box">
                    <i class="fas fa-fire"></i>
                    <h3>Total enrolled</h3>
                    <p>"Thousands Learning,Enroll Now!"</p>
                    <textarea id="text" name="text" rows="3" cols="7" ></textarea>
                </div>
                <div class="box">
                    <i class="fas fa-award"></i>
                    <h3>review</h3>
                    <p>"See What Our Students Are Saying!"</p>
                </div>

            </div>
        </section>
        <section class="course" id="course">
            <h1 class="heading">popular courses</h1>
            <h3 class="title">upgrade your skills with newest courses</h3>

            <div class="box-container">
                <div class="box">
                    <i class="fab fa-html5"></i>
                    <h3>neet</h3>
                    <p>Ace the NEET exam with our comprehensive course!</p>  
                </div>
                <div class="box">
                    <i class="fab fa-css3-alt"></i>
                    <h3>jee</h3>
                    <p>Excel in the JEE exam with our top-notch course.</p>  
                </div>
                <div class="box">
                    <i class="fab fa-js-square"></i>
                    <h3>gate</h3>
                    <p>Crack the GATE exam with our specialized course</p>  
                </div>

            </div>


        </section>

        







     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js ">
     <script src="js/main.js"></script>
    </body>
</html>
