

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Complete responsive</title>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
         <link rel="stylesheet" href="onecourseupsc.component.css">

    </head>
    <body>

    <header>

    <a href="#" class="logo"><i class="fas fa-graduation-cap"></i>logo</a>
    <nav class="navbar">
        <ul>
            <li><a href="#home" class="active">home</a></li>
            <li><a href="#about">about</a></li>
            <li><a href="#courses">courses</a></li>
            <li><a href="#contactus">contact</a></li>
            <li><a href="#" onclick="window.open('login','myWindow');">login</a></li>
        </ul>
    </nav>

    <div class="fas fa-bars "></div>

</header>



<section class="course" id="course">
    <h1 class="heading">eduspark-UPSC</h1>
    <h3 class="title">upgrade your skills with our courses</h3>
   

    <div class="box-container">
        <div class="box">
            <i class="fab fa-html5"></i>
            <h3>module1</h3>
            <p>hello akjgd,dfk ilutkutuyyujutuytuyt kuyrdda</p>  
            <a href="#"><button>Start</button></a>
        </div>
        
        <div class="box">
            <i class="fab fa-css3-alt"></i>
            <h3>module2</h3>
            <p>hello akjgd,dfk ilutkutuyyujutuytuyt kuyrdda</p>  
            <a href="#" onclick="window.open('videoupsc','myWindow');" ><button>Start</button></a>
        </div>
        <div class="box">
            <i class="fab fa-js-square"></i>
            <h3>module3</h3>
            <p>hello akjgd,dfk ilutkutuyyujutuytuyt kuyrdda</p>  
            <a href="#"><button>Start</button></a>
        </div>
    </div>


</section>
</body>
</html>


